.Dashboard{
    /* border: 2px solid blue; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .MenuButton{
    /* display: none; */
    outline: none;
    border: none;
    background-color: transparent!important;
    display: flex;
    align-self: flex-start;
} 
.MenuButton:hover{
cursor: pointer;
}
.MenuButton .button{
    font-size: 3.2vh;    
}  
.transition-effect {
    transition: all 0.5s ease-in-out;
  }
  
.DashboardMenu{
    /* border: 2px solid blue !important; */
    /* display: none; */
    /* width: 16vw; */
    height: 90vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(129, 128, 128, 0.112);
    /* border: 2px solid blue!important; */
    border-radius: 10% 0 0 10%;
    /* transition: 0.5s ease-in-out; */
    transition: width 0.5s cubic-bezier(0.25,0.25,1,1);
}

.DashboardMenuHeader{
    /* border: 2px solid blue!important; */
    flex-grow: 0.7;
    display: flex;
    gap: 15px;
    justify-content: center;
    letter-spacing: 1px;
    align-items: center;
    flex-direction: column;
    font-size: 2.2vh;
    
}
.DashboardMenuHeader div{
    border: 2px solid rgba(120, 118, 118, 0.731);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 5vw;
    height: 8vh;
    flex-grow: 0.4;
}


.DashboardMenuHeader button{   
    border: 1px solid rgb(0, 255, 55);
    border: none;
    padding: 0.6vw;
    border-radius: 10px;
    font-weight: 800;
    background-color: rgba(176, 177, 180, 0.128);
}
.DashboardMenuHeader button:hover{
    cursor: pointer;
    background-color: rgba(166, 220, 190, 0.699);
}

.DashboardMenuItems{
    /* border: 1px solid green; */
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 20px 0;
    font-size: 1.3vw;
}
.DashboardMenuItemsListTrue{
    /* border: 1px solid blue; */
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1vw;
    color: black;
    background-color: rgb(147, 197, 169);
    height: 5vh;
    text-decoration: none;
    font-weight: 700;
}
.DashboardMenuItemsListFalse{
    padding: 10px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1vw;
    color: black;
    background-color: white;
    height: 5vh;
    text-decoration: none;   
}

.DashboardMenuItemsList:hover{
    cursor: pointer;
}

.DashboardContainer{
    /* border: 2px solid green; */
    width: 73vw;
    height: 90vh;
    background-color: rgba(166, 166, 166, 0.171);
    /* border: 2px solid green; */
    row-gap: 10px;
    border-radius: 0 10% 10% 0;
}


@media (max-width:900px){
    /* .DashboardMenu{
        width: 100vw;
        height: 100vh;
    } */
    .MenuButton .button{
        font-size: 4vw;    
    }  
    .DashboardContainer{
        width: 100vw;
        height: 100vh;
        border-radius: 0 0 0 0;
    }
    .DashboardMenu{
        height: 99vh;
    }
    .DashboardMenuItemsListTrue{
        font-size: xx-large;
    }
    .DashboardMenuItemsListFalse{
        font-size: xx-large;
    }
    .MenuButton{
        pointer-events: none!important;
    } 
    
}

@media(max-width:720px){
   .DashboardMenu{
    width: 6vw !important;
   }
}
@media(max-width:600px){
    .DashboardMenu{
        width: 7vw!important;
    }
    .MenuButton .button{
        font-size: 4.9vw;    
    } 
}
@media(max-width:550px){
    .MenuButton .button{
        font-size: 6vw;    
    } 
   .DashboardMenu{
    width: 8vw !important;
   }
}

@media(max-width:435px){
    .MenuButton .button{
        font-size: 7vw;    
    }
    .DashboardMenu{
        width:10vw!important;
    } 
}


@media(max-width:400px){
    .DashboardMenu{
        width:11vw!important;
    }
}


@media(max-width:350px){
    .DashboardMenu{
        width: 12vw!important;
    }
}

