.ErrorPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ErrorPage .image{
    width: 80%;
    height: 80%;
    background-image: url(../Image/error404.avif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}