.createAuction{
    height:100%;
    width:100%;
    /* border:1px solid blue; */
    border-radius: 0 10% 10% 0;
    /* background-color:white; */
    display:flex;
    position:relative;
    background-color:#ecf1f5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_createAuction{
    height:80%;
    width:58%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* background-color: #ff0000; */
    background-color:white;
    gap:11px;
    /* background-color:#ecf1f5; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputbox{
    height:16%;
    width:60%;
    display:flex;
    /* position:relative; */
    /* border:1px solid blue; */
    padding-left: 20px;
    gap:10px;
    /* border-radius:5px; */
    /* flex-grow: 1; */
    display: flex;
    /* border: 2px solid black; */
    flex-direction: column;
    background-color: white;
    /* justify-content: center;
    align-items: center; */
}
input{
    /* position:absolute; */
    width:70%;
    height:50%;
    /* bottom:5px; */
    /* right:100px; */
    outline:none;
    font-size:1rem;
    letter-spacing:0.1rem;
    text-align: center;
    /* border:1px solid black; */
}
input:focus{
    border:1px solid black;
    font-size:1rem;
    letter-spacing:0.1rem;
}


.bt{
    position:absolute; 
    bottom:14px;
    height:5vh;
    width:9vw;
    right:21%;
    border:1px solid black;
    border-radius:20px;
    background-color:#ecf5f1;
    font-size:1rem;
    letter-spacing:0.1rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.bt:hover{
    background-color:grey; 
}