.createAuction{
    height:100%;
    width:100%;
    border-radius: 0 10% 10% 0;
    display:flex;
    position:relative;
    background-color:#ecf1f5;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.form_createAuction{
    box-shadow: 5px 6px 7px rgba(178, 170, 170, 0.548);
    height:85%;
    width:50%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    background-color:white;
    gap:11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    position:absolute;
    top:5%;
    left:30%;
   font-size:1.5rem;
   font-family: 'Open Sans',sans-serif;
}
.inputbox{
    height:15%;
    width:60%;
    display:flex;
    gap:10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.label{
    font-size:1rem;
    font-family: 'Open Sans',sans-serif;
}
.fields{
    width:90%;
    height:40%;
    outline:none;
    border:none;
    background-color: #a9a9a93c;
    font-size:1rem;
    font-family: 'Open Sans',sans-serif;
    border-radius: 10px;
    word-spacing:0.1rem;
    text-align:start;
    padding-left: 5px;
    font-size:0.8rem;
}
.bt{
    position:absolute;
    bottom:7%;
    height:5vh;
    width: 70px;
    left:40%;
    border-radius:20px;
    background-color: #8c89894c;
    font-size:0.8rem;
    outline:none;
    border:none;
    font-family: 'Open Sans',sans-serif;
}
.bt:hover{
    cursor: pointer;
}