.historydetails-container{
    display: flex;

}
.teamdetails{
    display: flex;
    flex-direction: row;
    gap:20px;

}
.teamview{
    display: flex;
    flex-direction:column;
    width:80vh;
    height:90vh;
    border:2px solid black;
     gap:20px;
    align-items: center;
}
.team-list-details{
    width:550px;
    height:60px;
    background-color: rgba(186, 185, 182, 0.231);
    border-left: 4px solid rgb(129, 182, 83);
    border-radius: 10px;
    font-size:1.1rem;
   display: flex;
   align-items: center;
}

.player-container{
    display: flex;
    flex-direction:column;
    width:65vh;
    height:90vh;
    border:2px solid black;
}
.team-image img{
    width:50px;
    height:50px;
    border-radius: 30px;
    border:3px solid rgba(126, 200, 126, 0.792);
}
.team-title{
    font-size: 30px;
    font-weight: bold;
    word-spacing: 2px;
}
.team-heading{
    width:550px;
    height:60px;
    background-color: rgba(186, 185, 182, 0.231);
    border-left: 4px solid rgb(129, 182, 83);
    border-radius: 10px;
    font-size:1.1rem;
    word-spacing:60px;
   display: flex;
   align-items: center;
}
.team-heading div{
    width:25%;
    text-align: center;
}
.team-list-details div{
    width:25%;
    text-align: center;
}

.team-list-details .team-player-count{
    cursor: pointer;
    background-color: aqua;
}

.team-list-details .team-player-count:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}