.history-container{
    
    display: flex;
    flex-direction: column;
    width:63vw;
    height: 90vh;
    gap:20px;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.history-details{
    display: flex;
    flex-direction: row;
    padding:20px;
    width:700px;
    height:50px;
    background-color: rgba(255, 255, 255, 0.804);
    border-left: 5px solid green;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
    font-size: 15px;
    border-radius: 10px;
    gap:120px;
}
.heading-details{
    display: flex;
    flex-direction: column;
    padding:20px;
    width:700px;
    height:50px;
    font-size: 15px;
    word-spacing:70px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.804);
    border-left: 5px solid green;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}
h1{
    text-align: center;
    font-size: 50px;
}
.auction-click{
width:70px;
height:20px;
border: none;
border-radius: 10px;
}
.auction-click:hover{
    cursor: pointer;
    background-color: rgba(159, 233, 170, 0.806);
}
.team-date{
    
}