.MyAuction{
    /* background-color: aqua; */
    width: 73vw;
    height: 90vh;
    display: flex;
}
.MyAuctionLeft{
    width: 71vw;
    height: 90vh;
    /* flex-grow: 4.5; */
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}
.MyAuctionLeftBox{
    height: 70vh;
    width: 100%;
    /* flex-grow: 0.7; */
    /* border: 1px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.MyAuctionLeftBox .image{
    position: absolute;
    /* border: 2px solid blue; */
    background-image: url(../../Image/messidashboardwithoutbackground-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 25%;
    height: 50vh;
    filter: url(#transparent-color)
}
.MyAuctionLeftBoxText{
    /* border: 1px solid black; */
    background-color:rgba(92, 165, 92, 0.845);
    border-radius: 10px;
    border: none;
    width: 90%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.MyAuctionLeftBoxText .name{
    /* border: 1px solid purple; */
    font-size: 1.5rem;
    text-align: center;
    flex-grow: 2.3;
}

.MyAuctionLeftBoxText .bitpoints{
    flex-grow: 1;
    font-size: 1.5rem;
    /* border: 1px solid red; */
    text-align: center;
    
}

.MyAuctionLeftAuctionContainer{
    padding: 25px;
    height: 40vh;
    width: 100%;
    /* flex-grow: 1; */
    border: 1px solid violet;
    display: flex;
    flex-direction: column;
}
.MyAuctionLeftAuctionContainer .chooseauction{
    /* flex-grow: 1; */
    border: 1px solid yellowgreen;
    background-color: rgba(155, 155, 155, 0.16);
    display: flex;
    gap: 5px;
}
.MyAuctionLeftAuctionContainer .chooseauction button{
    padding: 10px;
    border: none;
    /* outline: none; */
    border-right: 2px solid rgba(0, 0, 0, 0.119);
    border-radius: 0 10% 10% 0;
    font-size: 1em;
    background-color: rgba(89, 89, 89, 0.041);
}
.MyAuctionLeftAuctionContainer .chooseauction button:hover{
    cursor: pointer;
    background-color: rgba(89, 89, 89, 0.126);
    /* font-size: 1em; */
}

.MyAuctionLeftAuctionContainer .showauctionContainer{
    overflow: scroll;
    padding: 20px;
    flex-grow: 1;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.showauctionContainerheader{
    height: 8vh;
    width: 90%;
    background-color: cyan;
}

/* .showauctionitems{
    background-color: aquamarine;
} */

.MyAuctionRight{
    width: 29vw;
    /* flex-grow: 1; */
    border: 2px solid green;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.MyAuctionRight h5{
    /* border: 1px solid red; */
    height: 10vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 1.2em;
    letter-spacing: 1px;
}
.MyAuctionRight .playerlist{
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.playersitemscontainer{
    width: 100%;
    padding: 10px;
    height: 9vh;
    background-color: rgb(255, 255, 255);
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    border-radius: 0 10% 10% 0;
    border-left: 4px solid green;
    box-shadow: 3px 2px 5px black;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 800;
    align-items: center;
}
.playersitemscontainer .image{
    background-image: url(../../Image/no-profile-img.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgb(146, 146, 146);
    width: 18%;
    height: 90%;
    border-radius: 52%;
}