.Login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #7f7f7f38;
    border-radius: 10px;
    box-shadow:7px 5px 7px 5px rgba(131, 114, 114, 0.189),-4px -4px 7px 5px  rgba(131, 114, 114, 0.189);
    width:60vw;
    height:70vh;
    display: flex;
    flex-direction:row;
   border:none;
    gap:10px;
}
.left{
    width:70%;
    height:70vh;
    background-image: url("https://cdn.dribbble.com/users/4967226/screenshots/18168511/media/09f8c99321b8fc9adcf5bce8c3e9d519.png?resize=400x0");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.header{
    height: 70vh;
    width:35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    gap:25px;
    padding: 3px;
}
.form{
display: flex;
flex-direction: column;
align-items: center;
padding:20px;
gap:40px;
overflow: hidden;
}
.input-box{
    font-size: 16px;
    width:80%;
    position: relative;
    height:40px;
}
.content-name{
    padding-right: 200px;
    position: absolute;
    bottom:23px;
    left:0px;
    transition: all 0.3s ease;
}
.email{
    border:none;
outline: none;
width:100%;
height:100%;
background-color:#70786c00;
padding-top: 20px;
}
.form .email:focus + .label-name .content-name{
transform: translateY(-50%);
font-size: 15px;
color:#0d0d0e;
}
.form .input-box label{
    position: absolute;
    bottom:0px;
    left:0%;
   width:100%;
   height:100%;
   pointer-events: none;
}
.form  label::after{
    content:"";
    position: absolute;
    left:0px;
    bottom:0px;
    width:100%;
    height:100%;
    border-bottom: 3px solid #0d0d0e8a;
    transform:translateX(-160%);
    transition: transform 0.3s ease;
}
.form .email:focus + .label-name::after{
transform: translateX(0%);
}

/* .email{
    outline:none;
    border:none;
    background-color:#70786c00;
    font-size: 20px;
    transition: border-bottom 0.3s ease;
} 

.email::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    background-image: linear-gradient(to right, #f0f0f0, #848282, #121212);
}
.email:hover::after{
      
    width:100%;
    
}
.password{
    outline:none;
    border:none;
    background-color:#70786c00;
    font-size: 20px;
}
.password:focus{
    outline:none;
    border-bottom: 2px solid rgb(130, 130, 124);
} */
.signin{
    width:80px;
    height:30px;
    border-radius: 20px;
    background-color: #58585834;
    align-items: center;
    border:none;
    font-weight: 900;
    word-spacing: 1.5px;
 
}
.signin:hover{
    cursor: pointer;
   
}
.createaccount{
    font-size: 20px;
    text-decoration: none;
    gap:30px;
}
.error{
    
   
   
   pointer-events: none;

}
.link{
    text-decoration: none;
}
