.Login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #7f7f7f38;
    border-radius: 10px;
    box-shadow:7px 5px 7px 5px rgba(131, 114, 114, 0.189),-4px -4px 7px 5px  rgba(131, 114, 114, 0.189);
    width:60vw;
    height:70vh;
    display: flex;
    flex-direction:row;
   border:none;
    gap:10px;
}
.left{
    width:70%;
    height:70vh;
    background-image: url("../../login.png");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.header{
    height: 70vh;
    width:35%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    gap:25px;
    
}
.form{
display: flex;
flex-direction: column;
align-items: center;
padding:20px;
gap:40px;
overflow: hidden;
}

.input-box{
    font-size: 16px;
    width:80%;
    position: relative;
    height:40px;
}
.content-name{
    padding-right: 200px;
    position: absolute;
    bottom:23px;
    left:0px;
    transition: all 0.3s ease;
}
.all-fields{
    border:none;
outline: none;
width:100%;
height:100%;
background-color:#70786c00;
padding-top: 20px;
font-size: 17px;
letter-spacing: 1px;
}
.form .all-fields:focus + .label-name .content-name{
transform: translateY(-50%);
font-size: 15px;
color:#0d0d0e;
}
.form .input-box label{
    position: absolute;
    bottom:0px;
    left:0%;
   width:100%;
   height:100%;
   pointer-events: none;
}
.form  label::after{
    content:"";
    position: absolute;
    left:0px;
    bottom:0px;
    width:100%;
    height:100%;
    border-bottom: 3px solid #0d0d0e8a;
    transform:translateX(-160%);
    transition: transform 0.3s ease;
}
.form .all-fields:focus + .label-name::after{
transform: translateX(0%);
}
.signin{
    width:80px;
    height:30px;
    border-radius: 20px;
    background-color: #58585834;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:none;
    font-weight: 900;
    word-spacing: 1.5px;
}
.signin:hover{
    cursor: pointer;
}
.createaccount{
    font-size: 20px;
    text-decoration: none;
}
.link{
    text-decoration: none;
}
