.HomepagePlayersThoughts{
    padding: 10px;
    width: 98vw;
    height: 140vh;
    /* background-color: #DED9D7; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    justify-content:space-evenly;
    position: relative;
}
.HomepagePlayersThoughts .straightline{
    background-color: #59504c71;
    width: 98vw;
    height: 30vh;
}
.HomepagePlayersThoughts .boxContainer {
    /* border: 1px solid red; */
    position: absolute;
    width: 98vw;
    height: 140vh;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 10px;
}

.HomepagePlayersThoughts .boxContainer div{
    /* color: aliceblue; */
    /* border: 2px solid blue; */
    /* box-shadow: 3px 3px 5px black; */
    /* box-shadow: 1px 1px 5px -3px  black,
    -1px -1px 5px black; */
    /* box-shadow: -3px -3px 5px black; */
    background-color: #6d6b6b1c;
    border-radius: 2em;
    width: 22vw;
    /* height: 100vh; */
    height: 80vh;
    /* flex-grow: 1; */
}
.HomepagePlayersThoughts .boxContainer .boxItems{
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 20px;
}
.HomepagePlayersThoughts .boxContainer .boxItems .imagefitting{
    background-image: url(../../humanimg1.jpg);
    background-size: cover;
    height: 10%;
    width: 80%;
    flex-grow: 1;
    transform: perspective(400px) rotate3d(1, -1, 0, 8deg);
    transition: 3s;
}

.HomepagePlayersThoughts .boxContainer .boxItems:hover .imagefitting{
    transform: perspective(500px) rotate3d(1, -1, 0, -8deg);

}

.HomepagePlayersThoughts .boxContainer .boxItems  h1{
    /* flex-grow: 1; */
    /* border: 3px solid blue; */
    display: flex;
    /* align-items: center; */
    padding-top: 20px;
    letter-spacing: 3px;
    font-weight: 800;
}

.HomepagePlayersThoughts .boxContainer .boxItems  p{
    flex-grow: 1;
    display: flex;
    align-items: center;
    word-spacing: 1px;
    font-weight: 800;
    text-align: justify;
    font-size: 1.1rem;
    /* border: 2px solid green; */
}