.HomepageComplaints{
    width: 80vw;
    height: 90vh;
    /* border:1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1px;
}
.HomepageComplaints .header{
    width:100%;
    display:flex;
    gap:5px;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}
.HomepageComplaints .header div{
    width:7vh;
    height:6vh;
    font-size:2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    color:white;
    border-radius:7px;
    background-color:#262626;
}
.HomepageComplaints .items{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:space-between;
    gap: 10px;
    height:70%;
    width:100%;
}
.HomepageComplaints .items .item-one{
    height:95%;
    width:50%;
    /* border:1px solid blue; */
}
.HomepageComplaints .items .item-one img{
    height:100%;
    width:100%;
}
.HomepageComplaints .items .item-two{
    height:95%;
    width:50%;
    /* border:1px solid rgb(0, 0, 0); */
    background-color: #e8e4e410;
    border-radius:10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.363);
}
.HomepageComplaints .items .item-two form{
    height:100%;
    width:100%;
}
.HomepageComplaints .items .item-two form input{
    height:13%;
    width:43%;
    margin-left:4%;
    margin-right:1%;
    margin-top:4%;
    border:none; 
    outline: none;
    background-color:#cdcdcd00;
    text-align:start;
    letter-spacing:0.1rem;
}
.HomepageComplaints .items .item-two form input::placeholder{
    color:black;
}
.HomepageComplaints .items .item-two form textarea::placeholder{
    color:black;   
}
.HomepageComplaints .items .item-two form input:focus{
    border-bottom: 1px solid #0d0d0e8a;
    color:black;
    letter-spacing:0.1rem;

}
.HomepageComplaints .items .item-two form #message{
    height:30%;
    width:95%;
    margin-top:3%;
    margin-left:4%;
    letter-spacing:0.1rem;
    background-color:#cdcdcd00;
    border:none; 
    outline: none;
    overflow: hidden;
}
.HomepageComplaints .items .item-two form #message:focus{
    /* border-bottom: 1px solid #0d0d0e8a; */
    color:black;
    /* border:1px solid black; */
    letter-spacing:0.1rem;
}
.HomepageComplaints .items .item-two form button{
    display:block;
    height:12%;
    width:30%;
    letter-spacing: 1px;
    margin-left:2%;
    margin-top:2%;
    border:none;
    font-size:0.9rem;
    color:rgb(255, 255, 255);
    border-radius:10px;
    background-color:rgb(0, 0, 0);
}
.HomepageComplaints .items .item-two form button:hover{
    cursor: pointer;
}



