.HomepageAbout{
    /* background-color: aqua; */
    width: 90vw;
    height: 100vh;
    display: flex;
}

.HomepageAboutImage{
    background-image: url(../../aboutimg.avif);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-grow: 2;
    border: 1px solid black;
}
.HomepageAboutText{
    flex-grow: 1;
    border: 1px solid blue;

    /* height: 100%;
    width: 20%; */
    /* border: 3px solid red; */
}
