.playerlist-container-list{
    display: flex;
    width:60vw;
    height: 75vh;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rgb(197, 17, 17); */
}
.playerlist-whole{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width:60vw;
    height: 75vh;
    gap:20px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* border-radius: 10px;  */
    /* box-shadow:7px 5px 7px 5px rgba(131, 114, 114, 0.189),-4px -4px 7px 5px  rgba(131, 114, 114, 0.189); */

}

.playerlist-whole::-webkit-scrollbar{
    display: none;
}
.playerlist-title{
    font-size: 35px;
    display: flex;
    margin-top:38px;
    flex-direction: row;
   justify-content: center;
   align-items: center;
    gap:400px;
}
.playerlist-title button{
    padding: 5px;
    letter-spacing: 1px;
    /* width:90px; */
    height:40px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    outline: none;
    background-color: rgba(105, 105, 105, 0.155);
    border-radius: 10px;
}
.playerlist-title button:hover{
    cursor: pointer;
}
.playerlist-view{
    position: relative;
    display: flex;
    flex-direction: row;
    width:54vw;
    height: 76vh;
    /* border: 2px solid black; */
    gap:20px;
    flex-wrap:wrap;

    /* display: grid;
    grid-template-columns: auto auto; */
}


.player-listview-details{
    /* width:270px;
    height:340px; */
    width:40%;
    height:100%;
    background-color:  rgba(255, 255, 255, 0.804);
    /* border-left: 4px solid rgb(129, 182, 83);
    border-right:4px solid rgb(129, 182, 83); */
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    font-size:1.1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:6px;
}
.player-auction-image img{
    width:150px;
    height:150px;
    border-radius: 200px;
    border:3px solid  rgba(65, 66, 65, 0.349);
    
}
.player-edit-delete{
    
    display: flex;
    flex-direction: row;
    gap:100px;
}
.player-edit{
    background-color: rgba(5, 108, 45, 0.628);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}
.player-delete{
    background-color: rgba(98, 98, 98, 0.258);
    letter-spacing: 1px;
}
.player-edit,.player-delete{
    width:60px;
    height:30px;
    border:none;
    outline:none;
    font-weight: bold;
    /* background-color: rgba(89, 93, 89, 0.167); */
    border-radius: 20px;
}
.player-name-details{
    /* display: flex;
    flex-direction:row; */
    /* margin-left:10px; */
    /* height:9%; */
    /* padding-top: 25px; */
    /* padding-top:5px; */
    /* padding-left:24%; */
    /* border:1px solid blue; */
    display: flex;
    width:90%;
    padding-left:18%;
    /* padding-left:10px; */
    /* align-items: flex-start; */
    /* gap:10px; */
}
.player-edit,.player-delete:hover{
    cursor: pointer;
}
.playerlabel{
    font-size:1.1rem;
}
/* .Details{
    padding-left:3%;
} */
.dot{
    font-family: 'Courier New', Courier, monospace; 
}
