.MYAuction{
    width: 73vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2fr 3fr;
}
.MyAuctionImage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MyAuctionImage .image{
    position: absolute;
    background-image: url(../../../Image/messidashboardwithoutbackground-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 100%;
}
.MyAuctionImage .MyAuctionImageText{
    background-color:rgba(92, 165, 92, 0.845);
    border-radius: 10px;
    font-size: 1.5rem;
    border: none;
    width: 90%;
    height: 20vh;
    display: flex;
    align-items: center;
}
.MyAuctionImageText .name{
    flex-grow: 3;
    text-align: center;
}

.MyAuctionImageText .bitpoints{
    text-align: center;
    flex-grow: 1;
}

.MyAuctionPlayers{
    position: relative;
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.MyAuctionPlayers h5{
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.MyAuctionPlayers .playerlist{
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;;
}

.playersitemscontainer{
    width: 100%;
    padding: 10px;
    height: 9vh;
    background-color: rgb(255, 255, 255);;
    display: flex;
    justify-content: space-around;
    border-radius: 0 10px 10px 0;
    border-left: 4px solid green;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.331);
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 800;
    align-items: center;
}
.playersitemscontainer .image{
    background-image: url(../../../Image/no-profile-img.gif);
    background-position:   center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgb(146, 146, 146);
    width: 18%;
    height: 100%;
    border-radius: 50% 50%;
}



.MyAuctionDetails{
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.MyAuctionDetails .chooseauction{
    background-color: rgba(219, 217, 217, 0.418);
    display: flex;
    gap: 5px;
}
.MyAuctionDetails .chooseauction button{
    padding: 10px;
    border: none;
    /* outline: none; */
    border-right: 2px solid rgba(0, 0, 0, 0.119);
    border-radius: 0 10px 10px 0;
    font-size: 1em;
    background-color: rgba(89, 89, 89, 0.041);
}
.MyAuctionDetails .chooseauction button:hover{
    cursor: pointer;
    background-color: rgba(89, 89, 89, 0.126);
}

.MyAuctionDetails .showauctionContainer{
    overflow-y: scroll;
    -ms-overflow-style: none;  /*IE or Edge*/
    scrollbar-width: none; /*firefox*/
    height: 40vh;
    padding: 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.showauctionContainer::-webkit-scrollbar{  /*chrome, safari, opera*/
    display: none;
}
.showauctionContainerheader{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    height: 8vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.804);
    border-left: 5px solid green;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
}
.showauctionContainerheader div{
    width: 25%;
    text-align: center;
    
}
.routeToAuction{
    font-weight: 900;
    color: black;
}
.routeToAuction:hover{
    cursor: pointer; 
    color: rgb(1, 101, 1);
}
