.historydetails-container{
    border: 2px solid blue;
    display: flex;
    width:72vw;
    height: 90vh;
}
.teamdetails{
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:20px;

}
.teamview{
    display: flex;
    width: 30vw;
    border: 2px solid rgb(255, 136, 0);
    flex-direction:column;
    /* width:30vw;
    height:90vh; */
    gap:20px;
    align-items: center;
    height: 86vh;
    position: relative;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.teamview::-webkit-scrollbar{
    display: none;
}
.team-title{
    /* border: 2px solid black; */
    font-size: 30px;
    font-weight: bold;
    word-spacing: 2px;
}
.team-heading{
    border: 2px solid black;
    width:420px;
    height:60px;
    background-color: rgba(255, 255, 255, 0.804);
    border-left: 4px solid rgb(129, 182, 83);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    font-size:1.1rem;
    display: flex;
    align-items: center;
}
.team-list-details{
    width:420px;
    height:60px;
    background-color:  rgba(255, 255, 255, 0.804);
    border-left: 4px solid rgb(129, 182, 83);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    font-size:1.1rem;
   display: flex;
   align-items: center;
}


.team-image img{
    width:50px;
    height:50px;
    border-radius: 30px;
    border:3px solid rgba(126, 200, 126, 0.792);
}


.team-heading div{
    width:20%;
    text-align: center;
}
.team-list-details div{
    width:20%;
    text-align: center;
}
.team-list-details .team-player-count button:hover{
    cursor: pointer;
    background-color:rgba(125, 174, 125, 0.477)

}
.team-list-details .team-player-count button{
    border:none;
    background-color:  rgba(89, 93, 89, 0.167);    
    width:20px;
    height:30px;
    border-radius: 20px;
}
.player-container{
    border: 2px solid green;
    width: 40vw;
    display: flex;
    flex-direction:column;
    /* width:39vw;
    height:90vh; */
    align-items: center;
    gap:20px;
}
.player-title{
font-size: 30px;
font-weight: bold;
word-spacing: 2px;
}
.player-heading{
    width:600px;
    height:60px;
    background-color: rgba(255, 255, 255, 0.804);
    border-left: 4px solid rgb(129, 182, 83);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    font-size:1.1rem;
    word-spacing:60px;
   display: flex;
   align-items: center;
}
.player-heading div{
    width:16%;
    text-align: center;
}
.player-list{
    width:600px;
    height:60px;
    background-color:  rgba(255, 255, 255, 0.804);
    border-left: 4px solid rgb(129, 182, 83);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    font-size:1.1rem;
   display: flex;
   align-items: center;
}
.player-list div{
    width:16%;
    text-align: center;
}
.player-image img{
    width:50px;
    height:50px;
    border-radius: 30px;
    border:3px solid rgba(126, 200, 126, 0.792);
}


@media(min-width:700px) and (max-width:978px){
    .historydetails-container{
        width: 100%;
    }
    .teamdetails{
        width: 100%;
    }
    .team-title{
        font-size: 20px;
    }
}